NET "clk" 		LOC = R10;

# North Header
NET "pin_out[0]" 	LOC = F16;
NET "pin_out[1]"	LOC = F17;
NET "pin_out[2]"	LOC = G14;
NET "pin_out[3]"	LOC = G16;
NET "pin_out[4]"	LOC = H16;
NET "pin_out[5]"	LOC = H17;
NET "pin_out[6]"	LOC = J16;
NET "pin_out[7]"	LOC = H15;
NET "pin_out[8]"	LOC = L12;
NET "pin_out[9]"	LOC = H14;
NET "pin_out[10]"	LOC = K14;
NET "pin_out[11]"	LOC = K12;
NET "pin_out[12]"	LOC = K17;
NET "pin_out[13]"	LOC = K16;
NET "pin_out[14]"	LOC = H12;
NET "pin_out[15]"	LOC = L13;

#EBI bus.
NET "ebi_data[0]" LOC = V13 ;
NET "ebi_data[1]" LOC = R11;
NET "ebi_data[2]" LOC = U13;
NET "ebi_data[3]" LOC = T10;
NET "ebi_data[4]" LOC = U11;
NET "ebi_data[5]" LOC = T8;
NET "ebi_data[6]" LOC = R8;
NET "ebi_data[7]" LOC = U8;
NET "ebi_data[8]" LOC = T7;
NET "ebi_data[9]" LOC = U7;
NET "ebi_data[10]" LOC = N7;
NET "ebi_data[11]" LOC = R5;
NET "ebi_data[12]" LOC = U5;
NET "ebi_data[13]" LOC = M8;
NET "ebi_data[14]" LOC = N5;
NET "ebi_data[15]" LOC = T5;

NET "ebi_addr[0]" LOC = V5;
NET "ebi_addr[1]" LOC = V4;
NET "ebi_addr[2]" LOC = V3;
NET "ebi_addr[3]" LOC = N6;
NET "ebi_addr[4]" LOC = V6;
NET "ebi_addr[5]" LOC = P6;
NET "ebi_addr[6]" LOC = V7;
NET "ebi_addr[7]" LOC = V11;
NET "ebi_addr[8]" LOC = V10;
NET "ebi_addr[9]" LOC = N9;
NET "ebi_addr[10]" LOC = V9;
NET "ebi_addr[11]" LOC = V8;
NET "ebi_addr[12]" LOC = R7;
NET "ebi_addr[13]" LOC = N8;
NET "ebi_addr[14]" LOC = T9;
NET "ebi_addr[15]" LOC = M10;
NET "ebi_addr[16]" LOC = T4;
NET "ebi_addr[17]" LOC = R3;
NET "ebi_addr[18]" LOC = T3;
NET "ebi_addr[19]" LOC = T6;
NET "ebi_addr[20]" LOC = P7;
